page-register-email {
	ion-header.ion-header { 
		background:none;
		box-shadow: none;
		.toolbar {
			padding:80px 40px 50px 30px;
			.toolbar-background {
				background:none;
				border:0;
			}
			img { 
				margin: 0 auto;
				display: block;
				max-width: 300px;
				width: 100%;
			}
			.back-button {
				position: absolute;
				left: 10px;
				top: 10px;
				opacity:0.7;
				filter:alpha(opacity=70);
			}
		}
		&:after {
			display: none;
		}
	}
	ion-content.registration[padding] {
		padding-left: 30px;
		padding-right: 30px;
		.scroll-content {
			padding-left:30px;
			padding-right: 30px;
			> h3 {
				text-align: center;
				margin:20px auto;
				text-transform: uppercase;
				font-size: 1.5rem;
			}
			.item-block {
				padding:0;
			}
			button.social-btn {
				margin-bottom:1em;
				border-radius:5px;
				box-shadow:none;
				height: 50px;
				text-transform: none;
				.button-inner {
					display: block;
					line-height: 50px;
					text-align:left;
					font-size: 1.8rem;
					ion-icon {
						float:none;
						vertical-align: middle;
						margin-top: -2px;
						height: 50px;
						line-height: 50px;
						padding-right: 15px;
						margin-right: 15px;
						border-right:1px solid rgba(0,0,0,0.3);
					}
				}
			}
			button.social-btn.btn-google {
				background: #d7524c;
			}
			button.social-btn.btn-facebook {
				background: #39548e;
			}
			button.social-btn.btn-mail {
				background: #8996a7;
			}
		}
		.submit-section {			
			text-align:center;
			margin-top: 30px;
			.submit-btn {
				font-size: 1.8rem;
				border-radius: 5px;
				height: 50px;
				box-shadow: none;
			}
		}	
	}
}
