page-home {
	ion-header.ion-header { 
		background:none;
		box-shadow: none;
		.toolbar {
			/*padding:80px 40px 50px 30px;*/
			.toolbar-background {
				background:none;
				border:0;
			}
			img { 
				margin: 0 auto;
				display: block;
				max-width: 300px;
				width: 100%;
				padding-left: 40px;
				padding-right: 75px;
				padding-top:20px;
				padding-bottom: 10px;
			}
		}
		&:after {
			display: none;
		}
	}
	ion-content.home[padding] {
		.scroll-content {
			padding:0;
			.list {
				border-top:1px solid #aaaaaa;
				.item-block {
					padding:15px 10px;
					border-top:1px solid #aaaaaa;
					ion-thumbnail {
						border-radius: 50%;
						width: 60px;
						height: 60px;
						min-width: 60px;
						min-height: 60px;
						margin-top: 0;
						margin-bottom: 0;
						overflow: hidden;
						border:1px solid #111111;
						img {
							width:60px;
							height: 60px;
						}
					}
					.item-inner {
						border:0;
						ion-label {
							margin-top:0;
							h2 {
								font-family: "Georgia";
								font-weight: bold;
							}	
							p {
								color:#acacac;
							}
						}				
						
						.item-button {
							height: 35px;
							line-height: 35px;
							ion-icon {
								font-size: 3.2em;
								color: #aaaaaa;							
							}
						}
					}
				}
			}
			button.social-btn {
				.button-inner {
					ion-icon {
					}
				}
			}
		}
	}
}
