page-recipe {
	ion-header.ion-header { 
		background:none;
		box-shadow: none;
		.toolbar {
			/*padding:80px 40px 50px 30px;*/
			.toolbar-background {
				background:none;
				border:0;
			}
			img { 
				margin: 0 auto;
				display: block;
				max-width: 300px;
				width: 100%;
				padding-left: 75px;
				padding-right: 75px;
				padding-top:20px;
				padding-bottom: 10px;
			}
		}
		&:after {
			display: none;
		}
	}

    .recipes-content.content {
    	background:white;
		/*background:url('../assets/img/LohnNaem.png') no-repeat center bottom #f4ffe5;
		background-size:100% auto;*/
		position: relative;
		
		.scroll-content {
			color:#acacac;
			h1 {
				font-family: 'Georgia';
				font-size: 2.2rem;
				margin:0;
				color:#111111;
			}
			h3 {
				font-family: 'Georgia';
				font-size: 2.0rem;
				margin:0 0 15px;
				color:#111111;
			}
			.recipe-image {
				margin:0 -40px 10px;
				width: 100vw;
				max-width: 130%;
			}
		}
	}
}
