page-video {
    // .info-layer {
    //     display: flex;
    //     flex-direction: row;
    //     position: absolute;
    //     right: 0;
    //     width: 27%;
    //     height: 100%;
    //     font-family: sans-serif;
    //     font-size: 16px;
    //     color: white;
    //     z-index: 250;
    //     background-color: rgba(0, 0, 0, 0.7);
    //     padding: 30px;
    // }

    // // .info-layer img {
    // //     width: 40px;
    // //     height: auto;
    // //     padding-right: 20px;
    // // }

    // .info-layer a,
    // .info-layer a:visited {
    //     color: white;
    // }

    // .cue-point-manager-button {
    //     color: #FFF;
    //     display: flex;
    //     justify-content: center;
    //     height: 50px;
    //     width: 50px;
    //     cursor: pointer;
    //     line-height: 50px;
    // }

    // .cue-point-manager-layer {
    //     position: absolute;
    //     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //     background-color: rgba(0, 0, 0, 0.75);
    //     color: #FFF;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 400;
    //     display: flex;
    //     flex-direction: row;
    // }

    // .cue-list {
    //     flex: 2;
    // }

    // .cue-table {
    //     width: 100%;
    //     padding: 30px;
    // }

    // .cue-row .json-header {
    //     width: 60%;
    // }

    // .cue-row .json {
    //     text-overflow: ellipsis;
    //     overflow: hidden;
    //     white-space: nowrap;
    //     max-width: 400px;
    //     display: inline-block;
    // }

    // .cue-row .actions {
    //     text-align: center;
    // }

    // .form-field {
    //     padding: 0 30px 10px 0;
    //     display: flex;
    //     justify-content: space-between;
    // }

    // .add-cue {
    //     flex: 1;
    // }

    // .close {
    //     position: absolute;
    //     top: 10px;
    //     right: 10px;
    //     width: 30px;
    //     height: 30px;
    //     color: white;
    //     cursor: pointer;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
    ion-header.ion-header { 
        background:none;
        box-shadow: none;
        .toolbar {
            /*padding:80px 40px 50px 30px;*/
            .toolbar-background {
                background:none;
                border:0;
            }
            img { 
                margin: 0 auto;
                display: block;
                max-width: 300px;
                width: 100%;
                padding-left: 75px;
                padding-right: 75px;
                padding-top:20px;
                padding-bottom: 10px;
            }
        }
        &:after {
            display: none;
        }
    }
    .video-content {
        .scroll-holder {
            padding-left: 0;
            padding-right: 0;
            h1 {
                font-family: 'Georgia';
                font-size: 2.2rem;
                margin:0;
                color:#111111;
                padding:0 20px 10px;
            }
            vg-player {
                height: 80%;
            }
        }
        .slide-indicator {
            &:before {
                display:none;
            }
        }
    }


    //   vg-scrub-bar-cue-points.cue-point {
    //     background-color: aqua !important;
    // }

  //@import 'videogular';
    // .videogular-container {
    //     width: 100%;
    //     height: 320px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     text-align: left;
    //     overflow: hidden;
    // }
     
    // @media (min-device-width: 1200px) {
    //     .videogular-container {
    //         width: 1170px;
    //         height: 658.125px;
    //     }
    // }
     
    // @media (min-device-width: 992px) and (max-device-width: 1199px) {
    //     .videogular-container {
    //         width: 940px;
    //         height: 528.75px;
    //     }
    // }
     
    // @media (min-device-width: 768px) and (max-device-width: 991px) {
    //     .videogular-container {
    //         width: 728px;
    //         height: 409.5px;
    //     }
    // }
}
